# Maven
target/

# IntelliJ
.idea/
*.iml

# Environment Variables
.env
application-local.properties

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/

# Build
dist/